# Ajustes especificos para o sample de Reliability.

[**/*.cs]
dotnet_diagnostic.ARCH016.severity = warning
dotnet_diagnostic.ARCH017.severity = warning
dotnet_diagnostic.ARCH021.severity = warning
dotnet_diagnostic.ARCH022.severity = warning
dotnet_diagnostic.ARCH020.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.IDE0059.severity = none
dotnet_diagnostic.IDE0060.severity = none
dotnet_diagnostic.IDE0290.severity = none

[Stubs/*.cs]
dotnet_diagnostic.IDE0052.severity = none
